body {
    margin: 0px;
}

header {
    background: #0ecbe4;
    text-align: center;
    font-family: 'Pushster', cursive;
}

.logo {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}

header input {

    font-size: 20px;
    margin: 20px 0px;
    font-family: 'Pushster', cursive;
}

.user_item {
    padding: 10px;
    border: #000;
    border-style: inset;
    margin: 10px;
}